/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
:root {
	--dark: #0b0e1f;
	--pink: #ff61c7;
	--light: #f9f8ff;
	--dark-purple: #372952;
	--coral: #f69080;
	--periwinkle: #a2a7ec;
	--red: #ff6161;
	--green: #61ff8d;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: var(--dark);
}

::selection,
::-moz-selection {
	background-color: var(--coral);
	color: var(--dark);
}
