/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection,
::-moz-selection {
	background: var(--coral);
	color: var(--dark);
}

/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
:root {
	--dark: #0b0e1f;
	--dark-transparent: hsl(231 47.6% 8.2% / 10%);
	--darkHSL: 231 47.6% 8.2%;

	--grey: #e7e7e9;

	--pink: #ff61c7;
	--pink-dark: #ab1e7c;
	--pinkHSL: 321.3 100% 69%;

	--light: #f9f8ff;

	--dark-purple: #372952;
	--dark-purpleHSL: 260.5 33.3% 24.2%;

	--coral: #f69080;
	--coralHSL: 8.2 86.9% 73.4%;

	--periwinkle: #a2a7ec;
	--periwinkleHSL: 235.9 65.9% 78%;

	--red: #ff6161;
	--redHSL: 0 100% 69%;

	--green: #61ff8d;
	--dark-green: #072d12;
	--greenHSL: 136.7 100% 69%;

	--yellow: #ffe261;
	--yellowHSL: 49 100% 69%;

	--shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1), 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	color: var(--dark);
	min-height: 100vh;
	min-height: 100dvh;
}

@layer base{
	.btn{
		@apply flex w-fit items-center justify-center py-3 px-5 text-lg bg-pink text-dark shadow-md rounded-2xl transition-all duration-300 gap-3 hover:bg-dark hover:text-pink;

		&.small-btn {
			@apply text-base py-2 px-4 rounded-xl gap-2;
		}
	}

	.card {
		@apply py-6 px-10 bg-light shadow-lg rounded-2xl;
	}
}




.pink-underline {
	position: relative;
	padding: 10px 0;

	&::after {
		content: '';
		width: 30px;
		height: 5px;
		background: var(--pink);
		border-radius: 100px;
		position: absolute;
		bottom: 5px;
		left: 0;
	}
}

@layer base{
	.input {
		@apply my-4 mx-0 block;

	
		input {
			@apply w-full text-2xl py-2 px-4 border-2 border-dark rounded-lg outline-none focus:border-pink;

		}
	}

}

select {
	@apply w-full text-2xl py-2 px-4 border-2 border-dark rounded-lg outline-none focus:border-pink;

}

::selection {
	background-color: var(--pink);
	color: var(--dark);
}
